/*
I will collect somet things to create them later!

https://codepen.io/andytran/pen/BNjymy
*/

/*MAIN SETTINGS*/
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100vh;
    font-family: 'VT323', monospace;
    grid-template-areas:
        "mainTitle mainTitle mainTitle mainTitle"
        "contentHeader contentHeader contentHeader contentHeader"
        "contentProducts contentProducts contentProducts contentProducts";
}


/*MAIN TITLE*/
#mainTitle {
    display: grid;
    grid-column: 1/end;
    justify-self: center;
    align-self: center;
    color: #f4f4f4;
    grid-area: mainTitle;
}

#mainTitle h1 {
    font-size: 120px;
    letter-spacing: 10px;
    justify-self: center;
}

#mainTitle h3 {
    font-size: 30px;
    justify-self: center;
    letter-spacing: 10px;
}


/*HEADER*/
#contentHeader {
    margin: 0px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/end;
    grid-area: contentHeader;
}

#contentHeader h1 {
    padding: 0px 20px;
    font-size: 30px;
    justify-self: left;
    font-family: 'Muli', sans-serif;
    color: #f4f4f4;
}

#formButton {
    grid-column: 3/4;
    width: 50%;
    justify-self: right;
    border-radius: 20px;
    font-size: 20px;
    background-color: #FBAB7E;
    color: white;
    font-weight: 700;
    font-family: 'Muli', sans-serif;
    box-shadow: 0 7px 5px -5px black;
}


/*CONTENT*/
#contentProducts {
    margin: 20px;
    padding: 10px;
    grid-column: 1/end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 100px;
    grid-area: contentProducts;
}

.card {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    box-shadow: 0 7px 5px -5px black;
    transition: 1s;
}

.card:hover {
    transform: translateY(20px);
}

.card img {
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
    height: 400px;
}


.cards-text {
    padding: 10px 20px;
    background-color: white;
    text-align: center;
}

.cards-text h3 {
    font-size: 30px;
    padding: 10px 0px;
}

.cards-text p {
    padding: 5px 0px;
    font-size: 15px;
    color: black;
}



/* THE MODAL(background) */
#formModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    /* Location of the box */
    left: 25%;
    top: 20%;
    width: 50%;
    /* Full width */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
    color: white;
}


#closeModal {
    padding: 10px;
}

#closeModal i {
    color: #FBAB7E;
}

/*Modal content*/
#formWrapper {
    padding: 20px;
    font-family: 'Muli', sans-serif;
}

#formContent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    color: white;
}

#formContent h1 {
    grid-column: 1/end;
    text-align: center;
    padding-bottom: 30px;
}

#formContent label {
    grid-column: 1/2;
}

#formContent input,
select {
    grid: 2/3;
    width: 80%;
    border-radius: 5px;
}

#formContent button {
    grid-column: 1/end;
    margin: 5px auto;
    padding: 10px;
    width: 30%;
    justify-self: center;
    border-radius: 20px;
    font-size: 20px;
    background-color: #FBAB7E;
    color: white;
    font-weight: 700;
    font-family: 'Muli', sans-serif;
    box-shadow: 0 7px 5px -5px black;
}

/*FOOTER*/
.footer {
    padding: 2%;
    grid-column: 1/end;
    background-color: black;
    color: #f4f4f4;
    text-align: center;
    font-family: 'Muli', sans-serif;
}

.footer a {
    color: white;
}

.footer i {
    padding: 5px;
    transition: 1s;
}

.footer i:hover {
    color: #00acee;
}

@media only screen and (max-width: 1300px) {

    /*CONTENT*/
    #contentProducts {
        margin: 20px;
        padding: 10px;
        grid-column: 1/end;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 100px;
        grid-area: contentProducts;
    }

    .card img {
        object-fit: cover;
        vertical-align: middle;
        width: 100%;
        height: 400px;
    }

}

@media only screen and (max-width: 1120px) {

    /*CONTENT*/
    #contentProducts {
        margin: 20px;
        padding: 10px;
        grid-column: 1/end;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 50px;
        grid-area: contentProducts;
    }

    .card {
        justify-self: center;
        width: 80%;
    }

    #formModal {
        width: 70%;
        left: 15%;
    }

    #formButton {
        width: 70%;
        font-size: 20px;
    }
}


@media only screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100vh;
        font-family: 'VT323', monospace;
        grid-template-areas:
            "mainTitle mainTitle mainTitle mainTitle"
            "contentHeader contentHeader contentHeader contentHeader"
            "contentProducts contentProducts contentProducts contentProducts";
    }

    #mainTitle h1 {
        font-size: 70px;
    }

    #mainTitle h3 {
        font-size: 20px;
    }

    #contentHeader h1,
    p {
        font-size: 20px;
    }

    #contentHeader p {
        justify-self: right;
    }

    #formButton {
        width: 80%;
        font-size: 10px;
    }

    /*CONTENT*/
    #contentProducts {
        margin: 20px;
        padding: 10px;
        grid-column: 1/end;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 50px;
        grid-area: contentProducts;
    }

    .card {
        justify-self: center;
        width: 100%;
    }

    #formModal {
        width: 100%;
        left: 0;
    }

    #formContent input,
    select {
        grid: 2/3;
        width: 100%;
    }

}

@media only screen and (max-width: 635px) {

    /*CONTENT*/
    #contentProducts {
        margin: 20px 10px;
        padding: 10px;
        grid-column: 1/end;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 100px;
        grid-area: contentProducts;
    }

    #mainTitle h1 {
        font-size: 60px;
    }

    #mainTitle h3 {
        font-size: 30px;
        text-align: center;
    }

    /*HEADER*/
    #contentHeader {
        margin: 0px 10px;
    }

    #contentHeader h1,
    p {
        padding: 0px 10px;
        font-size: 20px;
        justify-self: center;
    }

    #formButton {
        width: 80%;
        justify-self: center;
        border-radius: 20px;
        font-size: 10px;
    }

    .card {
        justify-self: center;
        width: 70%;
    }

    .card img {
        height: 280px;
    }
    
    #formModal {
        top: 0;
    }

    #formContent {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        color: white;
    }

    #formContent label,
    input,
    select {
        grid-column: 1/end;
        width: 100%;
    }

    #formContent button {
        grid-column: 1/end;
        margin: 0 auto;
    }


}
